RUST_BACKTRACE=1
TZ=Asia/Shanghai
# database
DATABASE_NAME=hub
DATABASE_USER=test
DATABASE_PASSWORD=123456
DATABASE_PORT=5432
DATABASE_HOST=localhost


# server
JWT_SECRET=123456
JWT_EXPIRE_DAY=7

LISTEN_PORT=3000
LISTEN_HOST=0.0.0.0
#log
RUST_LOG=info,app_server=info,tower_http=debug,sea_orm=info,sqlx=info

#redis
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=123456


#注册是否开放 false 不开放 true 开放
REGISTER_OPEN=false