RUST_BACKTRACE=1
TZ=Asia/Shanghai

# database - docker compose 内部服务名
DATABASE_NAME=hub
DATABASE_USER=licensehub
DATABASE_PASSWORD=change_me_licensehub_db_password
DATABASE_PORT=5432
DATABASE_HOST=db
DATABASE_MAX_CONNECTIONS=100
DATABASE_MIN_CONNECTIONS=5
DATABASE_CONNECT_TIMEOUT=8

# server
JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRE=7
LISTEN_PORT=3000
LISTEN_OUT_PORT=21600
LISTEN_HOST=0.0.0.0

# log
RUST_LOG=info,app_server=info,tower_http=debug,sea_orm=info,sqlx=warn,salvo_extra::logging=warn

# redis - docker compose 内部服务名
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_USERNAME=
REDIS_PASSWORD=change_me_licensehub_redis_password
REDIS_KEY_PREFIX=hub_

# 注册是否开放 false 不开放 true 开放
REGISTER_OPEN=false
